@model Version2.Models.Tacgium

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tacgium</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTacGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTacGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuocTich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuocTich)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdtacGia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
