@model Version2.Models.Hoadon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hoadon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdphieuDatHangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdphieuDatHangNavigation.IdphieuDatHang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdhoaDon">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
